<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.skywodd.yetanotherparcelmanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="net.skywodd.yetanotherparcelmanager.activities.ListParcelActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.skywodd.yetanotherparcelmanager.activities.AddParcelActivity"
            android:label="@string/title_activity_add" >
        </activity>
        <activity
            android:name="net.skywodd.yetanotherparcelmanager.activities.InfoParcelActivity"
            android:label="@string/title_activity_info" >
        </activity>
        <activity
            android:name="net.skywodd.yetanotherparcelmanager.activities.CommandActivity"
            android:label="@string/title_activity_command" >
        </activity>
        <activity
            android:name="net.skywodd.yetanotherparcelmanager.activities.ControlActivity"
            android:label="@string/title_activity_control" >
        </activity>
        <activity
            android:name="net.skywodd.yetanotherparcelmanager.activities.ConverterActivity"
            android:label="@string/title_activity_converter" >
        </activity>
    </application>

</manifest>